@using EntityLayer.Concrete
@model List<Bank>
@{
    ViewData["Title"] = "Index";
}

<table>
    <tr>
        <th>ID</th>
        <th>Kodu</th>
        <th>Banka Adı</th>
        <th>Banka Adresi</th>
        <th>Banka Açıklaması</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.BankCode</td>
            <td>@item.BankName</td>
            <td>@item.BankAdress</td>
            <td>@item.BankAbout</td>
        </tr>
    }

</table>

